:root{
    --cor-base:gray;
    --cor-principal:var(--cor-base);
    --cor-secundario:
}
body{
    background-color: var(--cor-principal);
}
h2{
    text-align: center;
    color: black;
}
.flex, .fox{
    display: flex;
    justify-content: space-evenly;
}
.quadrado{
    width: 100px;
    height: 100px;
    border: solid;
    border-radius:70%;
    border-width: 4px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cor1, .cor2, .cor3{
    background-color: aliceblue
}

.cor4{
    background-color: aliceblue;

}