
body{
    background-color: black;

}
footer{
    position: fixed;
    bottom: 0;
    left: 0%;
    bottom: 0%;
    width: 100%;
    line-height: 30px;
    text-align: center;
    padding: 0;
    color: aliceblue;
}
li{
    display: inline;
    padding: 0.30em;
    color: aliceblue;
}
a{
    color: aliceblue;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}