
body{
    background-color: black;
    background-image: url(https://miro.medium.com/v2/resize:fit:679/1*QjOkG7i-wkqI2-lnJf7B_g.gif);

}
h1{
    font-family: 'Lato', sans-serif;
    font-family: 'REM', sans-serif;
    color: aliceblue;
    text-align: center;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0%;
    bottom: 0%;
    width: 100%;
    line-height: 30px;
    text-align: center;
    padding: 0;
    color: aliceblue;
}
li{
    display: inline;
    padding: 0.30em;
    color: aliceblue;
}
a{
    color: aliceblue;
    
}
.center{
    display: inline;
    margin: center;
    width: 150px;
    height: 200px;
}